.recommended-flex {
    display: flex;
    margin-left: 20rem;
  }
  
  .recommended-title {
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }
  @media only screen and (max-width:300px){
    .recommended-title {
      color: aqua;
      position: relative;
      margin-left: 80px;
      font-size: 2.5rem;
    }
    .recommended-flex{
      position: relative;
      margin-left: 40px;
      width:10vw;
    }
   
  }