.recommended-flex {
    display: flex;
    margin-left: 20rem;
  }
  
  .recommended-title {
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }
  @media only screen and (max-width:480px){
    .recommended-title {
      
     display: flex;
     position: relative;
      font-size: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      justify-content: center;
    }
    .recommended-flex{
      display: flex;
      position: absolute;
      margin-left: 0rem;
      margin-right: 1rem;
    justify-content: center;
    width: 100%;
    }
   .recommended-thing{
    display: block;
     
    flex-direction: column;
  
   }

  }
  @media only screen and (max-width:435px){
    .recommended-flex{
      display: flex;
      position: absolute;
      margin-left: 1rem;
      margin-right: 1rem;
    justify-content: center;
    
    }
  }